header {
  background-color: brown;
  color: white;
  font-size: 2em;
  text-align: center;
  width: auto;
}

h2 {
  font-size: 1.5em;
  color: rgb(104, 80, 47);
}

.important {
  color: rgb(134, 99, 54);
  font-weight: bold;
}

section,
article {
  float: left;
  width: 60%;
}

aside {
  float: right;
  width: 30%;
  text-align: center;
}

button.reservation {
  background-color: brown;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 5px;
  font-weight: bold;
}

nav {
  border-bottom: 2px inset brown;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: brown;
  background-color: white;
  font-size: 1.5em;
}

nav li {
  display: inline;
}

nav a:hover {
  background-color: brown;
  color: white;
  border: white solid 1px;
  border-radius: 45%;
}

footer{
   clear:both;
   background-color: brown;
   color:white;
   font-size: 1.5em;
   text-align: center;
   width: 100%;
}

 footer a{
   text-decoration: none;
   color: whitesmoke;
}
 footer p{
  padding: 1em;
}
